body {
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #e0e0e0;
}

/* Navbar Principal */
.navbar {
  background-color: #1f1f1f;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .home {
  background-color: #333;
  color: #e0e0e0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
  padding: 7px 17px;
  border-radius: 22px;
}

.navbar a:hover {
  color: #121212;
  background-color: #e0e0e0;
  transition-duration: 0.25s;
}

/* Contenedor Principal */
.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 20px auto;
}

/* Barra lateral */
.sidebar {
  width: 25%;
  background: #1c1c1c;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #b0b0b0;
}

/* Sección de artículos */
.articles {
  width: 75%;
  background: #1c1c1c;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.articles-lesson {
  width: 75%;
  background: #1c1c1c;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.article {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.article h2 {
  color: #e0e0e0;
}

.article .article-lesson {
  color: #d0d0d0;
  line-height: 1.4;
}

.example, ul {
  color: #d0d0d0;
}

/* Tabla */
table, th, td {
  border: 1px solid #444;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
}
